@font-face {
  font-family: 'PingFang Regular';
  src: url('../assets/fonts/PingFang Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang Simple Thin';
  src: url('../assets/fonts/pingfang-simple-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang Simple Bold';
  src: url('../assets/fonts/pingfang-simple-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}